html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  width: 0.3em;
  background-color: rgb(38, 6, 31);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(80, 10, 65, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #37788a;
  outline: 6px solid #61dafb;
}

.App {
  text-align: center;
  /* background-color: rgb(100, 73, 200); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.nameCont {
  padding: 2rem 7rem 2rem 7rem;
  background-color: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem;
  width: auto;
}

.bannerContainer {
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 8rem 2rem 5rem 2rem;
}

.myVideo {
  width: 35%;
}

.name {
  font-family: monospace;
  color: #61dafb;
  font-weight: 900;
  font-size: 4rem;
  background-color: black;
  margin: 0rem;
}

.sub {
  font-family: monospace;
  color: #61dafb;
  font-weight: 900;
  font-size: 2rem;
  background-color: black;
  margin: 0rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem 2rem 2rem 2rem;
  width: 70%;
  font-family: monospace;
  background-color: rgb(80, 10, 65);
}

#technician {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 33.3%;
}

.cell {
  margin: 3rem;
}

.galleryContainer {
  background: black;
  overflow: hidden;
  border-radius: 15px;
  height: 240px;
  padding: 0 !important;
}

.thumbnail {
  object-fit: cover;
  padding: 0 !important;
  margin: 0;
}

.rowContainer .thumbnail {
  width: 100%;
}

.title {
  margin: 2rem 2rem 4rem 0rem;
  font-weight: 900;
  font-size: 2.5rem;
  align-self: center;
}

.desc {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0rem 0rem 5rem 0rem;
  text-align: left;
  width: 20rem;
  height: 8rem;
}

nav {
  color: #61dafb;
  font-family: monospace;
  font-size: 1.8rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  background-color: rgb(80, 10, 65, 0.5);
  padding: 2rem;
}

nav.fixed {
  position: fixed;
  top: 0;
}

nav a {
  text-decoration: none;
}

.desc1 {
  font-size: 0.9rem;
  margin: 0rem 6rem 8rem 6rem;
  text-align: left;
  width: auto;
}

.desc2 {
  font-size: 0.9rem;
  margin: 0rem 6rem 3rem 1rem;
  text-align: left;
  width: auto;
}

.desc3 {
  font-size: 0.9rem;
  margin: 0rem 6rem 3rem 1rem;
  text-align: left;
  width: auto;
}

.mailCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9rem;
  margin: 0rem 6rem 3rem 10rem;
  width: auto;
}

.otherContainer {
  margin: 0rem 0rem 8rem 0rem;
  flex: inherit;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #61dafb;
}

.galleryContainer {
  margin: 0rem 0rem 10rem 0rem;
  padding-top: 0.4rem;
}

.contactContainer {
  margin: 0rem 0rem 4rem 0rem;
  flex: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.thumbnail {
  padding: 2rem 0rem 0rem 0rem;
  margin: 0;
}

@media screen and (max-width: 575px) {
  #navBar {
    width: 100vw;
  }
  #navBar .navBarContent {
    display: none;
  }
  .bannerContainer {
    padding-bottom: 2rem;
    display: flexbox;
    justify-content: center;
  }
  .nameCont {
    padding-top: 0rem;
  }
  .name {
    font-size: 3rem;
    text-align: left;
  }
  .sub {
    font-size: 1rem;
    text-align: left;
    padding-top: 1rem;
  }
  .Container {
    margin: 0rem;
  }
  #about {
    width: 100%;
    margin: 4rem 0rem 4rem 0rem;
  }
  #about .title {
    text-align: left;
    margin-left: 0;
  }
  #technician {
    width: 100%;
    margin: 4rem 0rem 4rem 0rem;
  }
  #technician .title {
    text-align: left;
    margin-left: 0;
  }
  #technician .galleryContainer {
    padding: 0;
    object-fit: cover;
    height: 245px;
  }
  #technician .thumbnail {
    object-fit: cover !important;
  }
  #soundspace {
    width: 100%;
    margin: 4rem 0rem 4rem 0rem;
  }
  #soundspace .cell {
    margin: 0;
  }
  #soundspace .title {
    text-align: left;
    margin-left: 0;
    font-size: 2em;
  }
  #soundspace .galleryContainer {
    padding: 0;
    object-fit: cover;
    height: 245px;
  }
  #soundspace .thumbnail {
    object-fit: cover !important;
  }
  .title {
    margin: 2rem;
  }
  .desc1 {
    margin: 0% !important;
  }
  .rowContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0 !important;
    width: 100%;
  }
  #other .title {
    text-align: left;
    margin: 1rem 0rem 1rem 0rem;
  }
  #other .desc2 {
    margin: 3rem 0rem 0rem 0rem;
  }
  .desc {
    margin: 0rem 0rem 1rem 0rem;
  }
  .galleryContainer {
    margin: 4rem 0rem 4rem 0rem;
  }
}
