html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.App {
  text-align: center;
  /* background-color: rgb(100, 73, 200); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.nameCont {
  padding: 2rem 7rem 2rem 7rem;
  background-color: black;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem;
  width: auto;
}

.bannerContainer {
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 8rem 2rem 5rem 2rem;
}

.myVideo {
  width: 35%;
}

.name {
  font-family: monospace;
  color: #61dafb;
  font-weight: 900;
  font-size: 4rem;
  background-color: black;
  margin: 0rem;
}

.sub {
  font-family: monospace;
  color: #61dafb;
  font-weight: 900;
  font-size: 2rem;
  background-color: black;
  margin: 0rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem 2rem 2rem 2rem;
  width: 70%;
  font-family: monospace;
  background-color: rgb(80, 10, 65);
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.cell {
  margin: 3rem;
}

.galleryContainer {
  background: black;
  overflow: hidden;
  border-radius: 15px;
}

.thumnbail {
  object-fit: cover;
  opacity: 0.4;
}

.title {
  margin: 2rem 2rem 4rem 0rem;
  font-weight: 700;
  font-size: 2.5rem;
  align-self: center;
}

.desc {
  font-size: 0.9rem;
  margin: 0rem 0rem 5rem 0rem;
  text-align: left;
  width: 20rem;
}

nav {
  color: #61dafb;
  font-family: monospace;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  background-color: rgb(80, 10, 65, 0.5);
  padding: 2rem;
  border-radius: 15px;
}

nav.fixed {
  position: fixed;
  top: 0;
}

nav a {
  text-decoration: none;
}

.desc1 {
  font-size: 0.9rem;
  margin: 0rem 6rem 8rem 6rem;
  text-align: left;
  width: auto;
}

.desc2 {
  font-size: 0.9rem;
  margin: 0rem 6rem 3rem 6rem;
  text-align: left;
  width: auto;
}

.otherContainer {
  margin: 0rem 0rem 8rem 0rem;
  flex: inherit;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #61dafb;
}

.galleryContainer {
  margin: 0rem 0rem 12rem 0rem;
}
